<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>Spring Boot Application</title>
</head>

<body>
    <h4>Latest temperature</h4>
    <div th:text="${temperature.getValue()}" />
    <div th:text="${temperature.getSection()}" />
    <div th:text="${temperature.getDate()}" />
    <h4>Latest moisture</h4>
    <div th:text="${moisture.getValue()}" />
    <div th:text="${moisture.getSection()}" />
    <div th:text="${moisture.getDate()}" />
    <h4>Latest temperatures per section (a/b/c)</h4>
    <div th:text="${ALatestTemperature.getValue()}" />
    <div th:text="${BLatestTemperature.getValue()}" />
    <div th:text="${CLatestTemperature.getValue()}" />
    <h4>Latest moistures per section (a/b/c)</h4>
    <div th:text="${ALatestMoisture.getValue()}" />
    <div th:text="${BLatestMoisture.getValue()}" />
    <div th:text="${CLatestMoisture.getValue()}" />
    <h4>Average temperature per section (a/b/c)</h4>
    <div th:text="${AAverageTemperature}" />
    <div th:text="${BAverageTemperature}" />
    <div th:text="${CAverageTemperature}" />
    <h4>Average moisture per section (a/b/c)</h4>
    <div th:text="${AAverageMoisture}" />
    <div th:text="${BAverageMoisture}" />
    <div th:text="${CAverageMoisture}" />


    <h4>Add measurement</h4>
    <form>
        <label>Value</label>
        <input type="text" class="postMeasurement">
        <label>Type</label>
        <input type="text" class="postMeasurement">
        <label>Section</label>
        <input type="text" class="postMeasurement">
        <button class="postMeasurement">Send</button>
    </form>

    <h4>Latest Price</h4>
    <div th:text="${price.getPrice()}" />
    <div th:text="${price.getDate()}" />

    <h4>Add price</h4>
    <form>
        <label>Price</label>
        <input type="text" class="postPrice">
        <button class="postPrice">Send</button>
    </form>

    <script src="js/post.js"></script>
</body>

</html>